language: generic
sudo: required
services:
    - docker 

before_install:
    - docker build Franklinux-T/docker-react -f Dockerfile.dev .

script: 
    - docker run -e CI=true Franklinux-T/docker-react npm run test 